@import './error'

body
  background: white

.navbar.navbar-default
  margin-bottom: 0 !important

.hiddenRowWell
  padding-left: 2%
  padding-right: 2%

.custom-hover:hover
  background-color #e7e7e7 !important
  cursor pointer

.token
  display inline-block
  margin: 4px 4px 4px 4px;
  cursor default

.token .glyphicon
  cursor pointer

.typeahead
  display inline-block
  position relative

.typeahead .suggestions
  z-index 999
  width 100%

.typeahead .form-group
  margin-bottom 0 !important

.rangeInput
  display inline-block !important

.rangeInput > div
  display inline-block !important

.dl-horizontal dt
  text-align left
  width auto
  padding-right 1em

.dl-horizontal dd
  margin-left 0

.well-sm
  margin-bottom 0 !important

.hover-icon:hover
  color: #5bc0de
  cursor: pointer
