{
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "standard"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "operator-linebreak": [0, "before", { "overrides": { "?": "after" } }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  }
}
