.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
body {
  background: #fff;
}
.custom-hover:hover {
  background-color: #e7e7e7 !important;
  cursor: pointer;
}
.token {
  display: inline;
  cursor: default;
}
.token .glyphicon {
  cursor: pointer;
}
