@import '../_variables'
@import '../_mixins'
@import './error'

body
  background: white

.custom-hover:hover
  background-color #e7e7e7 !important
  cursor pointer

.token
  display inline-block
  margin: 4px 4px 4px 4px;
  cursor default

.token .glyphicon
  cursor pointer

.typeahead
  display inline-block
  position relative

.rangeInput
  display inline-block !important

.rangeInput > div
  display inline-block !important
